{
  "openapi": "3.0.1",
  "info": {
    "title": "Backoffice Veripag - V2",
    "version": "v2.2.1"
  },
  "servers": [
    {
      "url": "https://backoffice.veripag.com.br"
    }
  ],
  "paths": {
    "/v2/Affiliation": {
      "get": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Listar Afiliações",
        "description": "Retorna uma lista com as afiliações de todos os estabelecimentos e suas respectivas taxas",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "query",
            "description": "Id da afiliação",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clientMerchantId",
            "in": "query",
            "description": "Id do estabelecimento",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plataformTypeId",
            "in": "query",
            "description": "Id da plataforma",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Status da afiliação",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Número de linhas por página",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalItems": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "quantityPerPage": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "actualPage": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "captureMethodId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "plataformType": {
                            "type": "object",
                            "properties": {
                              "plataformTypeId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "plataformTypeId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "clientMerchantId": {
                            "type": "string",
                            "nullable": true
                          },
                          "mcc": {
                            "type": "object",
                            "properties": {
                              "mccId": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "code": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "mid": {
                            "type": "string",
                            "nullable": true
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "affiliationKey": {
                            "type": "string",
                            "nullable": true
                          },
                          "antecipationRate": {
                            "type": "number",
                            "format": "double"
                          },
                          "automaticAntecipationActive": {
                            "type": "boolean"
                          },
                          "automaticAntecipationRate": {
                            "type": "number",
                            "format": "double"
                          },
                          "clientMerchant": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "taxId": {
                                "type": "string",
                                "nullable": true
                              },
                              "clientMerchantId": {
                                "type": "string",
                                "nullable": true
                              },
                              "mcc": {
                                "type": "object",
                                "properties": {
                                  "mccId": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "description": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "code": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": false
                              }
                            },
                            "additionalProperties": false
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "daysForAntecipation": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "guaranteeRate": {
                            "type": "number",
                            "format": "double"
                          },
                          "shopId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "tid": {
                            "type": "string",
                            "nullable": true
                          },
                          "url": {
                            "type": "string",
                            "nullable": true
                          },
                          "rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Brand": {
                                  "type": "object",
                                  "properties": {
                                    "brandId": {
                                      "type": "integer",
                                      "description": "Id da bandeira",
                                      "format": "int32"
                                    },
                                    "brandName": {
                                      "type": "string",
                                      "description": "Nome da bandeira",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "Rates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "mdrNegotiationId": {
                                        "type": "integer",
                                        "format": "int32",
                                        "nullable": true
                                      },
                                      "Profile": {
                                        "type": "object",
                                        "properties": {
                                          "profileId": {
                                            "type": "integer",
                                            "format": "int32"
                                          },
                                          "profileName": {
                                            "type": "string",
                                            "description": "Nome Do perfil",
                                            "nullable": true
                                          }
                                        },
                                        "additionalProperties": false
                                      },
                                      "charging": {
                                        "type": "number",
                                        "format": "double",
                                        "nullable": true
                                      },
                                      "flatRate": {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      "discount": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "daysToPay": {
                                        "type": "integer",
                                        "format": "int32"
                                      }
                                    },
                                    "additionalProperties": false
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "terminals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "captureMethodTerminalsId": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "captureMethodId": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "terminalId": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "serialNumber": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "logicalNumberId": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "createDate": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "active": {
                                  "type": "boolean"
                                },
                                "activationDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true
                                },
                                "deactivateDate": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true
                                },
                                "mobileSimCard": {
                                  "type": "object",
                                  "properties": {
                                    "mobileSimCardId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "mobileSimCardSerialNumber": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "terminalModel": {
                                  "type": "object",
                                  "properties": {
                                    "terminalModelId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "terminalModelName": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      },
      "post": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Criar Afiliação",
        "description": "Criar afiliação única, com ClientMerchantId, Tipo de captura (PlataformTypeId), MCCId, E os opcionais Mid e ShopId",
        "requestBody": {
          "description": "Modelo para a criação de uma afiliação",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plataformTypeId": {
                    "type": "string",
                    "description": "Codigo de plataforma da afiliação",
                    "format": "uuid",
                    "default": ""
                  },
                  "clientMerchantId": {
                    "type": "string",
                    "description": "Código do estabeleciment",
                    "default": "",
                    "nullable": true
                  },
                  "mccId": {
                    "type": "integer",
                    "description": "Código do Mcc",
                    "format": "int32",
                    "default": 0
                  },
                  "mid": {
                    "type": "string",
                    "description": "Código do Mid",
                    "default": "",
                    "nullable": true
                  },
                  "shopId": {
                    "type": "integer",
                    "description": "Código do ShopId (Payzen)",
                    "format": "int32",
                    "default": 0
                  },
                  "terminals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "terminalId": {
                          "type": "integer",
                          "description": "Id do terminal",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "serialNumber": {
                          "type": "string",
                          "description": "SerialNumber",
                          "default": "",
                          "nullable": true
                        },
                        "logicalNumberId": {
                          "type": "string",
                          "description": "Número lógico do terminal",
                          "default": null,
                          "nullable": true
                        },
                        "generateLogicalNumber": {
                          "type": "boolean",
                          "description": "Caso true, irá gerar o número lógico de forma automática",
                          "default": true,
                          "nullable": true
                        },
                        "mobileSimCardId": {
                          "type": "integer",
                          "description": "Id do chip, não obrigatório",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "mobileSimCardSerialNumber": {
                          "type": "string",
                          "description": "SerialNumber do chip, não obrigatório",
                          "default": null,
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de terminais para vinculação/desvinculação",
                    "nullable": true
                  },
                  "mdrs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "rate": {
                          "type": "number",
                          "description": "Taxa",
                          "format": "double",
                          "default": 0
                        },
                        "brandId": {
                          "type": "integer",
                          "description": "Bandeira",
                          "format": "int32",
                          "default": 0
                        },
                        "profileId": {
                          "type": "integer",
                          "description": "Perfil",
                          "format": "int32",
                          "default": 0
                        },
                        "daysToPay": {
                          "type": "integer",
                          "description": "Dias para o pagamento",
                          "format": "int32",
                          "default": 0
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de mdr customizados",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plataformTypeId": {
                    "type": "string",
                    "description": "Codigo de plataforma da afiliação",
                    "format": "uuid",
                    "default": ""
                  },
                  "clientMerchantId": {
                    "type": "string",
                    "description": "Código do estabeleciment",
                    "default": "",
                    "nullable": true
                  },
                  "mccId": {
                    "type": "integer",
                    "description": "Código do Mcc",
                    "format": "int32",
                    "default": 0
                  },
                  "mid": {
                    "type": "string",
                    "description": "Código do Mid",
                    "default": "",
                    "nullable": true
                  },
                  "shopId": {
                    "type": "integer",
                    "description": "Código do ShopId (Payzen)",
                    "format": "int32",
                    "default": 0
                  },
                  "terminals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "terminalId": {
                          "type": "integer",
                          "description": "Id do terminal",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "serialNumber": {
                          "type": "string",
                          "description": "SerialNumber",
                          "default": "",
                          "nullable": true
                        },
                        "logicalNumberId": {
                          "type": "string",
                          "description": "Número lógico do terminal",
                          "default": null,
                          "nullable": true
                        },
                        "generateLogicalNumber": {
                          "type": "boolean",
                          "description": "Caso true, irá gerar o número lógico de forma automática",
                          "default": true,
                          "nullable": true
                        },
                        "mobileSimCardId": {
                          "type": "integer",
                          "description": "Id do chip, não obrigatório",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "mobileSimCardSerialNumber": {
                          "type": "string",
                          "description": "SerialNumber do chip, não obrigatório",
                          "default": null,
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de terminais para vinculação/desvinculação",
                    "nullable": true
                  },
                  "mdrs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "rate": {
                          "type": "number",
                          "description": "Taxa",
                          "format": "double",
                          "default": 0
                        },
                        "brandId": {
                          "type": "integer",
                          "description": "Bandeira",
                          "format": "int32",
                          "default": 0
                        },
                        "profileId": {
                          "type": "integer",
                          "description": "Perfil",
                          "format": "int32",
                          "default": 0
                        },
                        "daysToPay": {
                          "type": "integer",
                          "description": "Dias para o pagamento",
                          "format": "int32",
                          "default": 0
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de mdr customizados",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plataformTypeId": {
                    "type": "string",
                    "description": "Codigo de plataforma da afiliação",
                    "format": "uuid",
                    "default": ""
                  },
                  "clientMerchantId": {
                    "type": "string",
                    "description": "Código do estabeleciment",
                    "default": "",
                    "nullable": true
                  },
                  "mccId": {
                    "type": "integer",
                    "description": "Código do Mcc",
                    "format": "int32",
                    "default": 0
                  },
                  "mid": {
                    "type": "string",
                    "description": "Código do Mid",
                    "default": "",
                    "nullable": true
                  },
                  "shopId": {
                    "type": "integer",
                    "description": "Código do ShopId (Payzen)",
                    "format": "int32",
                    "default": 0
                  },
                  "terminals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "terminalId": {
                          "type": "integer",
                          "description": "Id do terminal",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "serialNumber": {
                          "type": "string",
                          "description": "SerialNumber",
                          "default": "",
                          "nullable": true
                        },
                        "logicalNumberId": {
                          "type": "string",
                          "description": "Número lógico do terminal",
                          "default": null,
                          "nullable": true
                        },
                        "generateLogicalNumber": {
                          "type": "boolean",
                          "description": "Caso true, irá gerar o número lógico de forma automática",
                          "default": true,
                          "nullable": true
                        },
                        "mobileSimCardId": {
                          "type": "integer",
                          "description": "Id do chip, não obrigatório",
                          "format": "int32",
                          "default": null,
                          "nullable": true
                        },
                        "mobileSimCardSerialNumber": {
                          "type": "string",
                          "description": "SerialNumber do chip, não obrigatório",
                          "default": null,
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de terminais para vinculação/desvinculação",
                    "nullable": true
                  },
                  "mdrs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "rate": {
                          "type": "number",
                          "description": "Taxa",
                          "format": "double",
                          "default": 0
                        },
                        "brandId": {
                          "type": "integer",
                          "description": "Bandeira",
                          "format": "int32",
                          "default": 0
                        },
                        "profileId": {
                          "type": "integer",
                          "description": "Perfil",
                          "format": "int32",
                          "default": 0
                        },
                        "daysToPay": {
                          "type": "integer",
                          "description": "Dias para o pagamento",
                          "format": "int32",
                          "default": 0
                        }
                      },
                      "additionalProperties": false
                    },
                    "description": "Lista de mdr customizados",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "captureMethodId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "plataformType": {
                      "type": "object",
                      "properties": {
                        "plataformTypeId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "plataformTypeId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "clientMerchantId": {
                      "type": "string",
                      "nullable": true
                    },
                    "mcc": {
                      "type": "object",
                      "properties": {
                        "mccId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "code": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "mid": {
                      "type": "string",
                      "nullable": true
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "affiliationKey": {
                      "type": "string",
                      "nullable": true
                    },
                    "antecipationRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "automaticAntecipationActive": {
                      "type": "boolean"
                    },
                    "automaticAntecipationRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "clientMerchant": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "taxId": {
                          "type": "string",
                          "nullable": true
                        },
                        "clientMerchantId": {
                          "type": "string",
                          "nullable": true
                        },
                        "mcc": {
                          "type": "object",
                          "properties": {
                            "mccId": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "code": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "daysForAntecipation": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "guaranteeRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "shopId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "tid": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Brand": {
                            "type": "object",
                            "properties": {
                              "brandId": {
                                "type": "integer",
                                "description": "Id da bandeira",
                                "format": "int32"
                              },
                              "brandName": {
                                "type": "string",
                                "description": "Nome da bandeira",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "Rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mdrNegotiationId": {
                                  "type": "integer",
                                  "format": "int32",
                                  "nullable": true
                                },
                                "Profile": {
                                  "type": "object",
                                  "properties": {
                                    "profileId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "profileName": {
                                      "type": "string",
                                      "description": "Nome Do perfil",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "charging": {
                                  "type": "number",
                                  "format": "double",
                                  "nullable": true
                                },
                                "flatRate": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "discount": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "daysToPay": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "terminals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "captureMethodTerminalsId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "captureMethodId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "terminalId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "serialNumber": {
                            "type": "string",
                            "nullable": true
                          },
                          "logicalNumberId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "activationDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "deactivateDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "mobileSimCard": {
                            "type": "object",
                            "properties": {
                              "mobileSimCardId": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "mobileSimCardSerialNumber": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "terminalModel": {
                            "type": "object",
                            "properties": {
                              "terminalModelId": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "terminalModelName": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      }
    },
    "/v2/Affiliation/{affiliationId}": {
      "get": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Pegar afiliação",
        "description": "Retorna somente uma unica afiliação com as suas taxas",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Id da afiliação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "captureMethodId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "plataformType": {
                      "type": "object",
                      "properties": {
                        "plataformTypeId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "plataformTypeId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "clientMerchantId": {
                      "type": "string",
                      "nullable": true
                    },
                    "mcc": {
                      "type": "object",
                      "properties": {
                        "mccId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "code": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "mid": {
                      "type": "string",
                      "nullable": true
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "affiliationKey": {
                      "type": "string",
                      "nullable": true
                    },
                    "antecipationRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "automaticAntecipationActive": {
                      "type": "boolean"
                    },
                    "automaticAntecipationRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "clientMerchant": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "taxId": {
                          "type": "string",
                          "nullable": true
                        },
                        "clientMerchantId": {
                          "type": "string",
                          "nullable": true
                        },
                        "mcc": {
                          "type": "object",
                          "properties": {
                            "mccId": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "code": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "daysForAntecipation": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "guaranteeRate": {
                      "type": "number",
                      "format": "double"
                    },
                    "shopId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "tid": {
                      "type": "string",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "nullable": true
                    },
                    "rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Brand": {
                            "type": "object",
                            "properties": {
                              "brandId": {
                                "type": "integer",
                                "description": "Id da bandeira",
                                "format": "int32"
                              },
                              "brandName": {
                                "type": "string",
                                "description": "Nome da bandeira",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "Rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mdrNegotiationId": {
                                  "type": "integer",
                                  "format": "int32",
                                  "nullable": true
                                },
                                "Profile": {
                                  "type": "object",
                                  "properties": {
                                    "profileId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "profileName": {
                                      "type": "string",
                                      "description": "Nome Do perfil",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "charging": {
                                  "type": "number",
                                  "format": "double",
                                  "nullable": true
                                },
                                "flatRate": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "discount": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "daysToPay": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "terminals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "captureMethodTerminalsId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "captureMethodId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "terminalId": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "serialNumber": {
                            "type": "string",
                            "nullable": true
                          },
                          "logicalNumberId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "activationDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "deactivateDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "mobileSimCard": {
                            "type": "object",
                            "properties": {
                              "mobileSimCardId": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "mobileSimCardSerialNumber": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "terminalModel": {
                            "type": "object",
                            "properties": {
                              "terminalModelId": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "terminalModelName": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      },
      "put": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Atualizar afiliação",
        "description": "Possivel atualizar dados da afiliação",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Id da afiliação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Model para atualizar dados da afiliação",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "automaticAnteciapationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação automática",
                    "format": "double",
                    "nullable": true
                  },
                  "antecipationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação manual",
                    "format": "double",
                    "nullable": true
                  },
                  "daysForAntecipation": {
                    "type": "integer",
                    "description": "Dias para realizar a antecipação",
                    "format": "int32",
                    "nullable": true
                  },
                  "guaranteeRate": {
                    "type": "number",
                    "description": "Taxa de garantia",
                    "format": "double",
                    "nullable": true
                  },
                  "mid": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "automaticAnteciapationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação automática",
                    "format": "double",
                    "nullable": true
                  },
                  "antecipationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação manual",
                    "format": "double",
                    "nullable": true
                  },
                  "daysForAntecipation": {
                    "type": "integer",
                    "description": "Dias para realizar a antecipação",
                    "format": "int32",
                    "nullable": true
                  },
                  "guaranteeRate": {
                    "type": "number",
                    "description": "Taxa de garantia",
                    "format": "double",
                    "nullable": true
                  },
                  "mid": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "automaticAnteciapationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação automática",
                    "format": "double",
                    "nullable": true
                  },
                  "antecipationRate": {
                    "type": "number",
                    "description": "Taxa cobrado da antecipação manual",
                    "format": "double",
                    "nullable": true
                  },
                  "daysForAntecipation": {
                    "type": "integer",
                    "description": "Dias para realizar a antecipação",
                    "format": "int32",
                    "nullable": true
                  },
                  "guaranteeRate": {
                    "type": "number",
                    "description": "Taxa de garantia",
                    "format": "double",
                    "nullable": true
                  },
                  "mid": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "captureMethodId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "Plataform": {
                      "type": "object",
                      "properties": {
                        "plataformTypeId": {
                          "type": "string",
                          "description": "Id da plataforma",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome da plataforma",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "Mcc": {
                      "type": "object",
                      "properties": {
                        "mccId": {
                          "type": "integer",
                          "description": "Id do mcc",
                          "format": "int32"
                        },
                        "code": {
                          "type": "string",
                          "description": "Codígo do mcc",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome do mcc",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "active": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "automaticAntecipationActive": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "updateDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "allowAntecipation": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "automaticAntecipationRate": {
                      "type": "number",
                      "format": "double",
                      "nullable": true
                    },
                    "antecipationRate": {
                      "type": "number",
                      "format": "double",
                      "nullable": true
                    },
                    "daysForAntecipation": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "guaranteeRate": {
                      "type": "number",
                      "format": "double",
                      "nullable": true
                    },
                    "Negotiation": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Brand": {
                            "type": "object",
                            "properties": {
                              "brandId": {
                                "type": "integer",
                                "description": "Id da bandeira",
                                "format": "int32"
                              },
                              "brandName": {
                                "type": "string",
                                "description": "Nome da bandeira",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "Rates": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mdrNegotiationId": {
                                  "type": "integer",
                                  "format": "int32",
                                  "nullable": true
                                },
                                "Profile": {
                                  "type": "object",
                                  "properties": {
                                    "profileId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "profileName": {
                                      "type": "string",
                                      "description": "Nome Do perfil",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "charging": {
                                  "type": "number",
                                  "format": "double",
                                  "nullable": true
                                },
                                "flatRate": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "discount": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "daysToPay": {
                                  "type": "integer",
                                  "format": "int32"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      }
    },
    "/v2/Affiliation/{affiliationId}/terminal": {
      "post": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Vincular terminal",
        "description": "Possivel vincular um terminal já existente à uma afiliação ativa",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Id da afiliação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Model para atualizar dados da afiliação",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminalId": {
                    "type": "integer",
                    "description": "Id do terminal",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "serialNumber": {
                    "type": "string",
                    "description": "SerialNumber",
                    "default": "",
                    "nullable": true
                  },
                  "logicalNumberId": {
                    "type": "string",
                    "description": "Número lógico do terminal",
                    "default": null,
                    "nullable": true
                  },
                  "generateLogicalNumber": {
                    "type": "boolean",
                    "description": "Caso true, irá gerar o número lógico de forma automática",
                    "default": true,
                    "nullable": true
                  },
                  "mobileSimCardId": {
                    "type": "integer",
                    "description": "Id do chip, não obrigatório",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "mobileSimCardSerialNumber": {
                    "type": "string",
                    "description": "SerialNumber do chip, não obrigatório",
                    "default": null,
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminalId": {
                    "type": "integer",
                    "description": "Id do terminal",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "serialNumber": {
                    "type": "string",
                    "description": "SerialNumber",
                    "default": "",
                    "nullable": true
                  },
                  "logicalNumberId": {
                    "type": "string",
                    "description": "Número lógico do terminal",
                    "default": null,
                    "nullable": true
                  },
                  "generateLogicalNumber": {
                    "type": "boolean",
                    "description": "Caso true, irá gerar o número lógico de forma automática",
                    "default": true,
                    "nullable": true
                  },
                  "mobileSimCardId": {
                    "type": "integer",
                    "description": "Id do chip, não obrigatório",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "mobileSimCardSerialNumber": {
                    "type": "string",
                    "description": "SerialNumber do chip, não obrigatório",
                    "default": null,
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminalId": {
                    "type": "integer",
                    "description": "Id do terminal",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "serialNumber": {
                    "type": "string",
                    "description": "SerialNumber",
                    "default": "",
                    "nullable": true
                  },
                  "logicalNumberId": {
                    "type": "string",
                    "description": "Número lógico do terminal",
                    "default": null,
                    "nullable": true
                  },
                  "generateLogicalNumber": {
                    "type": "boolean",
                    "description": "Caso true, irá gerar o número lógico de forma automática",
                    "default": true,
                    "nullable": true
                  },
                  "mobileSimCardId": {
                    "type": "integer",
                    "description": "Id do chip, não obrigatório",
                    "format": "int32",
                    "default": null,
                    "nullable": true
                  },
                  "mobileSimCardSerialNumber": {
                    "type": "string",
                    "description": "SerialNumber do chip, não obrigatório",
                    "default": null,
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "captureMethodTerminalsId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "captureMethodId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "terminalId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "serialNumber": {
                      "type": "string",
                      "nullable": true
                    },
                    "logicalNumberId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "activationDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "deactivateDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "mobileSimCard": {
                      "type": "object",
                      "properties": {
                        "mobileSimCardId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "mobileSimCardSerialNumber": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "terminalModel": {
                      "type": "object",
                      "properties": {
                        "terminalModelId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "terminalModelName": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "nullable": true,
                      "readOnly": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      },
      "delete": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Desativar terminal na afiliação",
        "description": "Inativar um terminal dentro da afiliação",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Id da afiliação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "captureMethodTerminalId",
            "in": "query",
            "description": "Id de vínculo da afiliação e terminal",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "serialNumber",
            "in": "query",
            "description": "SerialNumber do terminal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "terminalId",
            "in": "query",
            "description": "Id do terminal",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "captureMethodTerminalsId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "captureMethodId": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "terminalId": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "serialNumber": {
                      "type": "string",
                      "nullable": true
                    },
                    "logicalNumberId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "activationDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "deactivateDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "mobileSimCard": {
                      "type": "object",
                      "properties": {
                        "mobileSimCardId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "mobileSimCardSerialNumber": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "terminalModel": {
                      "type": "object",
                      "properties": {
                        "terminalModelId": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "terminalModelName": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Erro ao encontrar dados informados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Erro interno não mapeado"
          }
        }
      }
    },
    "/v2/Affiliation/{affiliationId}/rates": {
      "put": {
        "tags": [
          "Afiliação"
        ],
        "summary": "Atualizar taxas da afiliação",
        "description": "Possivel atualizar dados da afiliação",
        "parameters": [
          {
            "name": "affiliationId",
            "in": "path",
            "description": "Id da afiliação",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Model para atualizar as taxas da afiliação",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "required": [
                    "brandId",
                    "flatRate",
                    "profileId"
                  ],
                  "type": "object",
                  "properties": {
                    "flatRate": {
                      "type": "number",
                      "description": "Taxa final",
                      "format": "double"
                    },
                    "brandId": {
                      "type": "integer",
                      "description": "Id da bandeira, obtido no endPoint util/brands",
                      "format": "int32"
                    },
                    "profileId": {
                      "type": "integer",
                      "description": "Id do perfil da transação, obtido no endPoint util/profiles",
                      "format": "int32"
                    },
                    "daysToPay": {
                      "type": "integer",
                      "description": "Dias de espera para o pagamento, caso coloque zero, vai preencher com o padrão do MDR.",
                      "format": "int32",
                      "default": 0
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "required": [
                    "brandId",
                    "flatRate",
                    "profileId"
                  ],
                  "type": "object",
                  "properties": {
                    "flatRate": {
                      "type": "number",
                      "description": "Taxa final",
                      "format": "double"
                    },
                    "brandId": {
                      "type": "integer",
                      "description": "Id da bandeira, obtido no endPoint util/brands",
                      "format": "int32"
                    },
                    "profileId": {
                      "type": "integer",
                      "description": "Id do perfil da transação, obtido no endPoint util/profiles",
                      "format": "int32"
                    },
                    "daysToPay": {
                      "type": "integer",
                      "description": "Dias de espera para o pagamento, caso coloque zero, vai preencher com o padrão do MDR.",
                      "format": "int32",
                      "default": 0
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "required": [
                    "brandId",
                    "flatRate",
                    "profileId"
                  ],
                  "type": "object",
                  "properties": {
                    "flatRate": {
                      "type": "number",
                      "description": "Taxa final",
                      "format": "double"
                    },
                    "brandId": {
                      "type": "integer",
                      "description": "Id da bandeira, obtido no endPoint util/brands",
                      "format": "int32"
                    },
                    "profileId": {
                      "type": "integer",
                      "description": "Id do perfil da transação, obtido no endPoint util/profiles",
                      "format": "int32"
                    },
                    "daysToPay": {
                      "type": "integer",
                      "description": "Dias de espera para o pagamento, caso coloque zero, vai preencher com o padrão do MDR.",
                      "format": "int32",
                      "default": 0
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "brandId",
                      "flatRate",
                      "profileId"
                    ],
                    "type": "object",
                    "properties": {
                      "flatRate": {
                        "type": "number",
                        "description": "Taxa final",
                        "format": "double"
                      },
                      "brandId": {
                        "type": "integer",
                        "description": "Id da bandeira, obtido no endPoint util/brands",
                        "format": "int32"
                      },
                      "profileId": {
                        "type": "integer",
                        "description": "Id do perfil da transação, obtido no endPoint util/profiles",
                        "format": "int32"
                      },
                      "daysToPay": {
                        "type": "integer",
                        "description": "Dias de espera para o pagamento, caso coloque zero, vai preencher com o padrão do MDR.",
                        "format": "int32",
                        "default": 0
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na validação dos dados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Erro na autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "fieldName": {
                      "type": "string",
                      "nullable": true
                    },
                    "message": {
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
[...]
